fastapi
uvicorn
gradio
requests
python-multipart
pydantic
chromadb
langchain-openai
langchain-huggingface
langchain-chroma
langchain-community
langchain-ollama
sentence_transformers
langchain-docling
docling
easyocr
torch
torchvision
torchaudio